<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" version="1.0-b" defaultlocale="en">
    <name short="Fix the Web">Fix the Web</name>
    <!--New description: Report broken, incompatible, or browser-sniffing web pages and use or create patches/fixes for those sites.-->
    <description xml:lang="en">A tool to report and fix web pages that have aesthetic or functional problems due to poor coding practices</description>
    <description xml:lang="tr">Hatalı kodlama teknikleri nedeniyle görünümünde veya işlevlerinde sorunlar oluşan web sayfalarını bildirmek ve düzeltmek için bir araç</description>
    <author href="http://my.opera.com/cyberstream/about" email="dev@cyberstream.us">cyberstream</author>
    <icon src="images/icon-64.png" /> 
    
    <!--default values for preferences-->
    <preference name="patches" value="[]" />
    <preference name="patches-checksum" value="0" />
    <preference name="update-interval" value="30" />
    <preference name="display-reports-by" value="domain" /> <!--either "domain" or "page"-->
    <preference name="prefixr" value="true" />
    <preference name="prefixr-exclude" value="[]" />
    <preference name="browser-id" value="opera" />
    
    <access origin="*" subdomains="true" />
</widget>