<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" version="1.0-B4" defaultlocale="en">
    <name short="Fix the Web">Fix the Web</name>
    <description xml:lang="en">Report broken, incompatible, or browser-sniffing websites and create and apply site fixes</description>
<!--    <description xml:lang="en">A tool to report and fix web pages that have aesthetic or functional problems due to poor coding practices</description>-->
    <description xml:lang="tr">Hatalı kodlama teknikleri nedeniyle görünümünde veya işlevlerinde sorunlar oluşan web sayfalarını bildirmek ve düzeltmek için bir araç</description>
    <author href="http://my.opera.com/cyberstream/about" email="dev@cyberstream.us">cyberstream</author>
    <icon src="images/icon-64.png" />
    
    <!--default values for preferences-->
    <preference name="patches" value="[]" />
    <preference name="last-patches-update" value="0" />
    <preference name="reports-summary" value="[]" />
    <preference name="update-interval" value="30" />
    <preference name="display-reports-by" value="domain" /> <!--either "domain" or "page"-->
    <preference name="browser-id" value="opera" />
    
    <!--PREFIXR disabled-->
    <!--<preference name="prefixr" value="true" />
    <preference name="prefixr-exclude" value="[]" />-->    
    
    <access origin="*" subdomains="true" />
</widget>