<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" version="1.0b" defaultlocale="en">
    <name short="Fix the Web">Fix the Web</name>
    <description>A tool to help you and others who visit pages that don't work right in Opera.</description>
    <author href="http://my.opera.com/cyberstream/about" email="dev@cyberstream.us">Eli Mitchell</author>
    <icon src="icon-64.png"/> 
    
    <!--default values for preferences-->
    <preference name="patches_js" value="/* patches file is empty */" />
    <preference name="patches_js_checksum" value="0" />
    <preference name="update_interval" value="0" />
    <preference name="display_reports_by" value="domain" /> <!--either "domain" or "page"-->
    
    <access origin="*" subdomains="true" />
</widget>