body {
    font-family: "arial", "lucida grande", "lucida sans unicode", "bitstream vera sans", "dejavu sans", "trebuchet ms", sans-serif;
}

#container {
    width: 95%;
    margin: 0 auto;
    position: relative;
}

a {
    color: #3399FF;
    text-decoration: none;
    font-weight: bold;
} 

a:hover {text-decoration:underline}

#recent-reports {
    padding:10px; 
    margin:0;
}

#recent-reports li {
    list-style:none; 
    padding:5px 7px; 
    border-radius:5px; 
    margin:5px; 
    text-shadow: 1px 1px 1px #ccc; 
    color:#333; 
    cursor:pointer;
    display: inline-block;
} 

#recent-reports li:hover {background:#E6E6E6}
#recent-reports .username {font-weight:bold} 

.date_time {
    font-weight:bold; 
    color:#999; 
    text-shadow:1px 1px 1px #fff
}

.report {
    background:rgba(150,150,150,.2); 
    padding:8px; 
    border-radius:7px; 
    margin: 8px 0;
    font-size: 1.2em;
}

span[class^=severity] {
    display: inline-block;    
    width: 15px;
    height: 15px;
    border-radius: 8px;
    margin: 0 2px;
}

span.severity_1 {
    background: #ff7700;
    background: -o-linear-gradient(bottom, #EC9900, rgb(255, 255, 0));
}

span.severity_2 {
    background: #ff0000;
    background: -o-linear-gradient(bottom, #ff0000, #FF7575);
}

span.severity_3 {
    background: #3344fa;
    background: -o-linear-gradient(bottom, #0000ff, #7575FF);
}

.os_icon {
    position: relative;
    top: 3px;
}

.date_time {
    opacity: 0; 
    -o-transition: opacity 600ms ease-in-out;
}

li:hover .date_time {opacity:1}

#recent-reports li#loading-img {display: block }
#recent-reports li#loading-img img {margin: 0 auto; display: block; position: relative}

.dropdown .active {
    color: red;
}

ul.dropdown li {
    list-style:none; 
    padding: 2px 5px;
}

ul.dropdown {
    padding: 3px 0; 
    margin: 0; 
    display: none; 
    margin-left: -4px; 
    position: absolute; 
    width: 126px; 
    background-color: inherit; 
    border-radius: 0 0 6px 6px;
}

ul#controls {
    float: right; 
    position:relative; 
    top:-10px;
}

ul#controls > li { 
    padding: 3px; 
    display: inline-block; 
    cursor: pointer; 
    float: left; 
    background-color: #fff; 
    border-radius: 4px; 
    background: -o-linear-gradient(top, #fff, #ccc); 
    text-shadow: 0 1px 1px #fff; 
    border: 1px solid #bbb; 
    margin: 0 5px; 
    width: 120px; 
    font-size: 13px; 
}

ul#controls > li:first-child {width: 80px;}       

ul#controls > li:hover {
    background: #eee; 
    border-radius: 6px 6px 0 0; 
    border-bottom: none;
    background-image:-o-linear-gradient(top, #ddd, #eee 50%);
}

ul#controls > li:hover ul.dropdown {
    display: block;
    border: 1px solid #bbb; 
    border-width: 0 1px 1px 1px;
}

ul#controls > li:after {
    content: ''; 
    position:relative;  
    float:right; 
    width:0; 
    height:0; 
    border: 5px solid red; 
    top: 4px; 
    border-color: transparent transparent transparent #444; 
    right: -3px; 
    border-radius: 1px; 
}

ul#change-count {width: 126px}
ul#order-by {width: 86px}

ul#controls > li:hover:after {
        border-color: #666 transparent transparent transparent;
        right: 0; 
        top: 7px;
}

footer {text-align:center}
footer a {
    background: -o-linear-gradient(bottom, #ddd, #fff); 
    color: #777;
    text-transform: uppercase; 
    padding: 2px 4px; 
    border-radius: 3px; 
    border: 1px solid #ccc; 
    font-size: 12px;
}

div.pagination a {
    display: inline-block;
    color: #333;
    padding: 5px 10px;
    border-radius: 3px;
    background: -o-linear-gradient(top, #6CB8FF, #288CFA);
    margin: 0 2px;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: 0 1px 1px #ccc;
}

div.pagination a:hover { 
    background: -o-linear-gradient(top, #99CEFF, #3A98FB);
    color: #444;
    text-decoration: none;
}

div.pagination a.disabled { opacity: .6; }
div.pagination a.disabled:hover {
    cursor: default;
    background: -o-linear-gradient(top, #6CB8FF, #288CFA);
    color: #333;
}        

.pagination { -o-transition: opacity 600ms ease-in-out; }        
.hidden { opacity: 0; }

.pagination #page-number { 
    background: -o-linear-gradient(top, #888, #444); 
    padding: 5px; 
    margin-top:0; 
    font-weight: bold; 
    color: #333; 
    text-shadow: 0 0 5px #ccc; 
    border-radius: 3px; 
    text-transform: uppercase; 
    color: #fff; 
    font-size: 12px;
}

.pagination #page-number:before {content:'Page ';}