body {
    padding:0 0 20px 0;
    margin:0;
    background:rgb(245, 245, 245);
    font-family: "arial", "lucida grande", "lucida sans unicode", "bitstream vera sans", "dejavu sans", "trebuchet ms", sans-serif;
    color:#111;
}

a, a:link {
    color: #111;
    text-decoration: none;
}

section a, section a:link { color: #389CFE }
a:hover { text-decoration: underline }

#prefs-form h1 {
    border-bottom:1px solid rgb(230,230,230 );
    margin:2px 0;
    padding:5px;
    clear:both;
}

#prefs-form input[type=range] {
    width:300px;
}

#update {
    margin:10px 0 0 0;
    padding:3px;
    background:#dbe4ff;
    border:1px solid #416fe2;
    display:inline-block;
    border-radius:5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    -o-transition: background-color 400ms ease-in-out;
    text-shadow:0 0 12px #fff, 0 1px 1px #ddd;
}

#update:hover {
    background: #7298f7;
}

#loading_spinner {
    width:28px;
    height:28px;
    margin-left: 5px;
    position:relative;
    top:8px;
}

#nav {
    background:-o-linear-gradient(top, #eee, #ccc);
    padding:10px 5px 3px 5px;
    z-index:10;
    border-bottom:1px solid #aaa;
}

#nav a:not(.active):hover {
    background: #c1c1c1;
    padding-bottom: 3px;
}

#nav a {
    padding:5px 7px;
    text-decoration:none;
    font-weight:bold;
    font-size:14px;
    text-transform:uppercase;
    text-shadow: 0 1px 1px #fff;
}

#nav a.active {
    background:#fff;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 -1px 1px #bbb;
}

section {
    width:80%;
    position:relative;
    margin: 0 auto;
    z-index:0;
    opacity:0;
    display:none;
    -o-transition: opacity 0.6s ease;
}

section.active {
    display: block;
    opacity: 1;
}

section.inactive {
    display:block;
    opacity: 0;
}

#nav a.active:before, #nav a.active:after {
    content:'';
    position: absolute;
    padding: 0px;
    height: 7px;
    width: 6px;
    border: 1px solid #ff0000;
}

#nav a.active:before {
    margin-left: -15px;
    margin-top: 13px;
    border-radius: 0 0 5px 0;
    border-color: transparent #ccc #aaa transparent;
    box-shadow: 5px 5px 5px #fff;
}

#nav a.active:after {
    margin-left: 7px;
    margin-top: 13px;
    border-radius: 0 0 0 5px;
    border-color: transparent transparent #aaa #ccc;
    box-shadow: -5px 5px 0 #fff;
}

.light {color: #888}

input[type=radio] {
    position: absolute;
    opacity: 0;
}

input[type=radio] + label {
    cursor: pointer;
    padding: 2px 5px;
    padding-right:0;
    margin: 0 2px;
    border-radius:5px;
    border: 1px solid transparent;
    text-transform:uppercase;
    font-size:.8em;
}

input[type=radio]:checked + label {
    background:-o-linear-gradient(top, #fff, #ccc);
    border: 1px solid #aaa;
    text-shadow: 0 1px 1px #fff;
    box-shadow: 0 0 3px #bbb;
    color:#0000cc;
}

#twitter-login {background-image: url('images/signin_twitter.png')}
/*    #facebook-login {background-image: url('images/signin_facebook.png')}*/

#facebook-login, #twitter-login {
    width: 150px;
    height: 22px;
    display: inline-block;
    background-position: 0 0;
}

#facebook-login:hover, #twitter-login:hover {background-position:0 -24px}
#facebook-login:active, #twitter-login:active {background-position: 0 -48px;}

ul {
    padding: 3px 0;
    background: #eaeaea;
    text-shadow: 0 1px 1px #fff;
    border-radius: 5px;
    border:1px solid #ddd;
    display: inline-block;
    margin: 0;
}

ul li {
    padding: 2px 5px;
    list-style:none;
}

ul li:nth-child(2n) {background: #fff; }

.hide { display: none; }

#loading img {
    display:block;
    margin: 0 auto;
}

footer {
    text-align:center;
    margin-top: 10px;
}

footer a {
    background: -o-linear-gradient(bottom, #ddd, #fff);
    color: #777;
    text-transform: uppercase;
    padding: 2px 4px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 12px;
    font-weight: bold;
}

#recent-posts li {
    font-weight: bold;
    opacity: 0;
    -o-transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: -1;
    padding: 4px 6px;
    padding: 3px;
    background: -o-linear-gradient(top, #eaeaea, #ddd);
    border-radius: 4px;
    box-shadow: 0 0 5px #ccc;
    border: 1px solid #ccc
}

#recent-posts li.current {
    opacity: 1;
    z-index: 10;
}

#recent-posts {
    min-height: 25px;
}

#blog-header {
    margin: 0;
    padding: 10px 0;
}

#blog-header a {color: #111}

label[for=prefixr-exclude] {
    padding: 0 0 10px 0;
    position: relative;
    top: 25px;
    width: 35%;
    display: block;
    float: left;
}

textarea#prefixr-exclude{
    height: 100px;
    overflow-y:auto;
    width: 50%;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    font-family: sans-serif;
    margin-left: 10px;
    margin-top: 15px;
}

textarea#prefixr-exclude:hover {border:1px solid rgb(51, 153, 255);}
textarea#prefixr-exclude:focus {box-shadow: inset 0 0 10px #aaa;}

.sub_section {
    padding: 15px 10px;
    margin: 0;
    border: 1px solid transparent;
}

.sub_section:hover, form.sub_section:hover {
    background: #fff;
    border:1px solid #FFB062;
    box-shadow: 0 0 7px #ccc;
    border-radius: 5px;
}

form.sub_section {padding-top: 0}

.sub_section:first-child {
    margin-top: 0;
    padding-top: 10px;
}

#columnize div:nth-child(2) {
    float:left; 
    margin-left: 10px;
    max-width: 70%;
}

#columnize div:nth-child(1) {
    float:left; 
    max-width: 30%; 
} 

#columnize {
    min-height:190px;
}

label[for=as-opera], input:checked + label[for=as-opera] {color: red}
label[for=as-ie], input:checked + label[for=as-ie] {color: blue}
label[for=as-firefox], input:checked + label[for=as-firefox] {color: orange}
label[for=as-chrome], input:checked + label[for=as-chrome] {color: green}