body {
    padding:0;
    margin: 0;
    background:rgb(245, 245, 245);
    font-family: "arial", "lucida grande", "lucida sans unicode", "bitstream vera sans", "dejavu sans", "trebuchet ms", sans-serif;
}
body * {
    box-sizing:border-box;
}
p{
    margin:10px 5px;
}
form{
    border-bottom:1px solid #efefef;
}
ul li, a {
    list-style:none;
    margin: 0;
    font:bold 14px sans-serif;
    color:#111;
}

ul li:hover {
    color:#fff; 
    background:rgb(51, 153, 255);
}

ul li:hover a {color:#fff}        
ul {
    padding:0; 
    margin:0;
    margin-top:10px;
}

a {
    text-decoration:none;
    padding:6px 0;
}

a:hover {text-decoration:underline}

#page-address{
    width:83%;    
}

input[type=text], textarea, select, input[type=url] {
    border:1px solid #dfdfdf;
    padding:3px 4px;
    font-family: "arial", "lucida grande", "lucida sans unicode", "bitstream vera sans", "dejavu sans", "trebuchet ms", sans-serif;
}
input[type="text"]:hover, input[type=url]:hover, textarea:hover, select:hover{
    border:1px solid rgb(51, 153, 255);
}
input[type="text"]:focus, input[type=url]:focus, textarea:focus,select:focus{
    border:1px solid #999;
    box-shadow:inset 0 0 3px #999;
}
textarea{
    width:100%;
}
input[type="submit"]{
    border:0;
    padding:4px 10px;
    background:-o-linear-gradient(top,rgb(60, 160, 255),rgb(40, 140, 250));            
    box-shadow:0 0 1px 1px #999;
    color:#fff;
    font-weight:bolder;
    float: right;
    margin:0 5px;
}
input[type="submit"]:hover {
    cursor:pointer;
    background:-o-linear-gradient(top,#54aaff,rgb(40, 140, 250));     
}
#opera-version,#opera-build-number,#OS{
    float:left;
    width:20%;
}

#OS { width:60%} /* make the OS field wider because it is longer than the version and build number*/

#additional-information-details-panel-opener, #link-related-with-the-site li {
    cursor: pointer;
    letter-spacing:-1pt;
}        
#link-related-with-the-site li a{
    width:100%;
    padding:6px 4px;
    display: block;
}
#additional-information-details-panel-opener:hover, #open-comment-panel:hover {text-decoration: underline}

#additional-information-details-panel{
    display:none;
}
div.pad_bottom {padding-bottom:10px}

#error {
    background:#ffdbdb; 
    border:1px solid #dd5959;
}

#success {
    background:#dbffd6;
    border:1px solid #62cc5b;
}

#error, #success {
    display:inline-block; 
    padding:1px 4px 3px 4px; 
    border-radius:6px/15px; 
    margin: 5px 0 0 5px; 
    font:bold 14px sans-serif; 
    text-shadow:0 1px 0 #fff;
}

#error:before, #success:before {
    padding-right:3px; 
    top:3px; 
    position:relative;
}

#error:before {content:url(../images/errors.png)}
#success:before {content:url(../images/success.png)}

label[for^=category] {
    width: 29%; 
    display:inline-block; 
    color:#444; 
    font-weight:bold; 
    background:-o-linear-gradient(top, #fff, #ddd); 
    border-radius:5px; 
    box-shadow:0 0 2px #aaa; 
    padding: 5px; 
    text-align:center; 
    margin: 0 2px; 
    cursor:pointer;
    text-shadow:0 1px 1px #fff;            
    border:1px solid #bbb;
    -o-transition:color 800ms ease-in-out;
}

label[for^=category]:hover {
    color:#111;
    border:1px solid #888;
}        

label[for='category-1'] {width: 35%}

input.category {
    z-index:-1; 
    position:absolute; 
    opacity:0; 
    margin:40px 0 0 40px;
}        
input.category:checked + label {
    border:1px solid rgb(51, 153, 255);
}

input#category-1:checked + label {color:#ff7700}
input#category-2:checked + label {color:#ff4120}
input#category-3:checked + label {color:#3344fa}

.category:invalid ~ label {
    border:1px solid red;
}

h1 {
    margin:0; 
    padding-left:5px; 
    padding-bottom: 5px;
    font-size:1.6em; 
    color:#444;
    text-shadow: 1px 0 0 #fff, 2px 1px 0 #bbb; 
    font-weight:100;
    border-bottom:1px solid #ccc;
}

body.loading {
    background-image: url('../images/loading-circle.png'); 
    background-position: 50% 5%;
    background-repeat: no-repeat;
    padding-top: 85px;
}

form, #login-notice { display: none; }        
body.logged_in form { display: block; }
body.login #login-notice { display:block; }

#login-notice a {
    background:-o-linear-gradient(top,rgb(60, 160, 255),rgb(40, 140, 250)); 
    color: #222; 
    padding: 2px 3px; 
    text-shadow: 0 0 10px #fff; 
    border-radius: 5px; 
    border:1px solid #999;
}